.container {
  display: grid;
  grid-template-columns: 0.4fr 2.2fr 0.4fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  grid-auto-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: stretch;
  grid-template-areas:
    ". . ."
    "guesslist1 board guesslist2"
    ". gamebuttons .";
}

#board {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "jail move-area-2 event"
    "move-area-1 event-area move-area-3"
    "start-spot move-area-4 question";
  grid-area: board;
  border: 3px solid white;
  border-radius: 10px;
}

#event-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title title title"
    "event-card info-area info-area"
    "score-area score-area score-area";
  grid-area: event-area;
}

#title {
  grid-area: title;
  text-align: center;
  position: relative;
  font-size: 3.5em;
  color: white;
  margin-top: 30px;
}

#score-area {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr 1fr;
  grid-template-rows: 1.4fr 0.1fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "player1name player1name player1score"
    ". . ."
    "player2name player2name player2score";
  grid-area: score-area;
  border: 1px solid white;
  border-radius: 10px;
}

#player1Name {
  grid-area: player1name;
  text-align: center;
  font-size: 2.5em;
}

#player2Name {
  grid-area: player2name;
  text-align: center;
  font-size: 2.5em;
}

#player1score {
  grid-area: player1score;
  text-align: center;
  font-size: 2em;
  color: red;
}

#player2score {
  grid-area: player2score;
  text-align: center;
  font-size: 2em;
  color: red; 
}

#event-card {
  display: grid;
  grid-template-columns: 0.9fr 1.2fr 0.9fr;
  grid-template-rows: 0.6fr 1.8fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". card ."
    ". . .";
  grid-area: event-card;
}

#card {
  grid-area: card;
}

#info-area {
  grid-area: info-area;
  font-size: 1.5em;
  color: white;
  border: white 1px solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

#move-area-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "m3 m3 m3"
    "m2 m2 m2"
    "m1 m1 m1";
  grid-area: move-area-1;
  
  border-radius: 10px;
}

#m1 {
  grid-area: m1;
  border-top: 1px solid white;


}



#m2 {
  grid-area: m2;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

#m3 {
  grid-area: m3;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

#move-area-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "m4 m5 m6"
    "m4 m5 m6"
    "m4 m5 m6";
  grid-area: move-area-2;
  border-bottom: 1px solid white;
  border-radius: 10px;
}

#m4 {
  grid-area: m4;
  border-left: 1px solid white;
}

#m5 {
  grid-area: m5;
  border-left: 1px solid white;

}

#m6 {
  grid-area: m6;
  border-left: 1px solid white;
  border-right: 1px solid white;


}

#move-area-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "m7 m7 m7"
    "m8 m8 m8"
    "m9 m9 m9";
  grid-area: move-area-3;
}

#m7 {
  grid-area: m7;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;


}

#m8 {
  grid-area: m8;
  border-bottom: 1px solid white;


}

#m9 {
  grid-area: m9;
  border-bottom: 1px solid white;

}

#move-area-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "m12 m11 m10"
    "m12 m11 m10"
    "m12 m11 m10";
  grid-area: move-area-4;
}

#m10 {
  grid-area: m10;
  border-right: 1px solid white;

}

#m11 {
  grid-area: m11;
  border-right: 1px solid white;

}

#m12 {
  grid-area: m12;
  border-right: 1px solid white;

}

#start-spot {
  grid-area: start-spot;
  border-right: 1px solid white;
  border-top: 1px solid white;
}

#jail {
  grid-area: jail;
}

#event {
  grid-area: event;
}

#question {
  grid-area: question;
}

#guesslist1 {
  grid-area: guesslist1;
  color: #ff1500;

}

#guesslist2 {
  grid-area: guesslist2;
  color: #ff1500
}

#gamebuttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    "startgame guessEntry resetgame"
    ". . .";
  grid-area: gamebuttons;
}

#startgame {
  grid-area: startgame;
  text-align: center;
}

#resetgame {
  grid-area: resetgame;
  text-align: center;
}

#guessEntry {
  grid-area: guessEntry;
}

#guessInput {
  width: calc(100% - 20px);
  padding: 5px;
  border-radius: 0px;
  border: 1px solid rgb(253, 0, 0);
  float: left;
}

#guessButton {
  border-radius: 0px;
  float: right;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
}

#guessNumber {
  text-align: center;
  margin-top: 4px;
}

div.col {
  width: 1px;
  display: flex;
  flex-direction: row;
}
.slide-fwd-center {
  -webkit-animation: slide-fwd-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s 5 both;
  animation: slide-fwd-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s 5 both;
}

@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}

@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}

.piece1 {
  margin-top: 40px;
  margin-left: 30px;
  float: left;
  max-width: 25%;
  max-height: 25%;
}

.piece2 {
  margin-top: 40px;
  margin-right: 40px;
  float: right;
  max-width: 25%;
  max-height: 25%;

}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;

}

li {
  list-style-type: none;
  text-align: center;
  margin-right:40px;
  color: red;
  font-size: 1.8em;
  overflow-y: auto;
  position: relative;

}

#info-text {
  margin: 5px;
}

body {
  background: black;
}

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

#m1:hover {
  animation: hvr-pop 1s infinite;
}
#m2:hover {
  animation: hvr-pop 1s infinite;
}
#m3:hover {
  animation: hvr-pop 1s infinite;
}
#m4:hover {
  animation: hvr-pop 1s infinite;
}
#m5:hover {
  animation: hvr-pop 1s infinite;
}
#m5:hover {
  animation: hvr-pop 1s infinite;
}
#m5:hover {
  animation: hvr-pop 1s infinite;
}
#m6:hover {
  animation: hvr-pop 1s infinite;
}
#m7:hover {
  animation: hvr-pop 1s infinite;
}
#m8:hover {
  animation: hvr-pop 1s infinite;
}
#m9:hover {
  animation: hvr-pop 1s infinite;
}
#m10:hover {
  animation: hvr-pop 1s infinite;
}
#m11:hover {
  animation: hvr-pop 1s infinite;
}
#m12:hover {
  animation: hvr-pop 1s infinite;
}